[Unit]
Description= timer for deleter.

[Timer]
AccuracySec=1
OnCalendar=*-*-* 00:00
Unit=rpi-sky-deleter.service

[Install]
WantedBy=multi-user.target
